.topbar-item {
}

.main-page-wrapper {
  text-align: center;
}

.main-page-list {
  border: 3px solid black;

  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 10000px;
  margin-right: 250px;
  margin-left: 80px;
}

.main-page-item {	
  
}