.topbar-item {
  display: inline
}

.main-page-wrapper {
  text-align: center;
}

.main-page-list {
  
  border: 3px solid black;

  border: 3px solid black;
  margin-top: 40px;
  margin-bottom: 3000px;
  margin-right: 160px;
  margin-left: 160px;
}

.main-page-item {	


  
}